<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta property="og:url" content="https://a0c0aa1b.ngrok.io/" />
    <meta property="fb:app_id" content="296344554144830" />
    <meta property="og:title" content="Defi de malade" />
    <meta property="og:type" content="video" />
    <meta property="og:description" content="description of Defi" >
    <meta property="og:video" content="https://d1vfuujltsw10o.cloudfront.net/animation.mp4" />
    <meta property="og:video:url" content="https://d1vfuujltsw10o.cloudfront.net/animation.mp4" />
    <meta property="og:image" content="https://d1vfuujltsw10o.cloudfront.net/Visuel_Partage_Carte.jpg" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="480" />
    <meta property="og:video:height" content="252" />

  </head>
  <body>
    <div id="container"></div>
    <script src="<%= bundle %>"></script>
    <%_ if (!debug && config.trackingID) { _%>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= config.trackingID %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <%_ } _%>
  </body>
</html>
