div:focus {
    outline: none;
}

.btn {
  color: #37bcd1;
  font-size: 17px;
  text-transform: uppercase;
  background: transparent;
  border: solid #38bdd1 2px;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 11px;
  cursor: pointer;
}

.btn:hover {
  background: #37bcd1;
  text-decoration: none;
  color: #fff;
}
